<div class="container">
  <div>
    <h2>Modifier une ressource</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Ressource</label>
      <input readonly type="text" [(ngModel)]="currentRessource.idRessource" name="idRessource" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Créateur</label>
      <input type ="text" [(ngModel)]="currentRessource.nomCreateur" name="nomCreateur" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Nom Ressource</label>
      <input type="text" [(ngModel)]="currentRessource.nomRessource" name="nomRessource" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [ngModel]="currentRessource.dateCreation | date: 'yyyy-MM-dd'"
             (ngModelChange)="currentRessource.dateCreation= $event" name="dateCreation" class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-success" (click)="updateRessource()">Modifier</button>
    </div>
  </form>
</div>
